html, body, div, header { padding: 0; margin: 0; }

#iPhone { width: 375px; height: 735px; margin: 0 auto; position: relative; }

#screen { width: 320px; height: 480px; position: absolute; left: 29px; top: 128px; border-radius: 3px; }

#iPhone { background: url(../imgs/white_iphone.png) no-repeat; }

#screen { background: url(../imgs/background.png) no-repeat; background-size: 320px; }
