#w{
	
}

#iPhone{
	width:368px;
	height:716px;
	margin:0 auto;
	position:relative;
}

#screen{
	width:320px;
	height:480px;
	position:absolute;
	left:24px;
	top:118px;
}

#status-bar{
	height:20px;
	background-color:rgba(0,0,0,0.618);
}

#app-grids{
	
}

#app-dock{
	
}